/* GENERAL LAYOUT STYLES */
header, footer {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}

header {
  height: 70px;
  border-bottom: 1px solid #e7e7e7;
}

body {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

/* HEADER LAYOUT STYLES */
.img-brand {
  height: inherit;
  display: inline-block;
  line-height: 70px;
}

nav {
  height: inherit;
  display: inline-block;
  float: right;
}

li.menu-item {
  list-style: none;
}
li.menu-item:hover {
  transition: all .2s ease-in;
  transition: all .2s ease-out;
  background-color: #e7e7e7;
}
li.menu-item a {
  text-decoration: none;
}


/* Utility Classes */
.bg-white {
  background-color: #fff;
}

.txt-left {
  text-align: left;
}

.txt-center {
  text-align: center;
}

.txt-right {
  text-align: right;
}

.full-width {
  width: 100%;
}

.marg-left {
  margin-left: 15px;
}

.messages {
  padding: 0;
  margin: 0;
  width: 100%;
}

.bg-gray {
  background-color: #c4c4c4;
}

.messages {
  background-color: #e9e9e9;
  padding: 10px;
  height: 400px;
  overflow-y: scroll;
}

#chatInput {
  width: 100%;
  margin: 0;
  z-index: 1;
  height: 27px;
  border: 1px solid #e0e0e0;
  background-color: #e9e9e9;
  border-radius: 3px;
  color: black;
}
#chatSubmit {
  background-color: #e0e0e0;
  border: 1px solid #e0e0e0;
  border-left: 1px solid #d0d0d0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: blue;
  position: absolute;
  z-index: 100;
  margin-left: -32px;
  height: 27px;
  padding-left: 7px;
  padding-right: 7px;
  font-size: 16px;
  cursor: pointer;
}



/* DESKTOP CSS STYLES */
@media only screen and (min-width: 681px) {
  ul.menu {
    width: 100%;
    display: inline-block;
  }

  li.menu-item {
    height: inherit;
    float: left;
    overflow: hidden;
  }
  
  li.menu-item a {
    line-height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50%;
    padding-bottom: 50%;
  }
  
  body {
    padding-top: 70px;
  }
  
  .menu-btn {
    display: none;
  }
  
  /* Page Container */
  .container {
    max-width: 900px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}



/* MOBILE CSS STYLES */
@media only screen and (max-width: 680px) {
  nav {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
  }
  ul.menu {
    display: none;
    width: 100%;
    line-height: 45px;
    background-color: #f4f4f4;
  }
  li.menu-item {
    width: 100%;
  }
  li.menu-item a {
    padding-left: 15px;
    display: block;
    width: 100%;
  }
  body {
    padding-top: 0px;
  }
  
  .menu-btn {
    float: right;
    cursor: pointer;
    line-height: 70px;
  }
  
  
  /* Page Container */
  .container {
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
  }
  
  }